<!DOCTYPE html>
<html lang="en">
    <%- include('block/head') %>
    <body>
        <%- include('block/face') %>
        <%- include('block/time') %>
        <%- include('block/indicators') %>
        <%- include('block/problem') %>
        <%- include('block/role') %>
        <%- include('block/extract') %>
        <%- include('block/age') %>
        <%- include('block/top') %>
        <%- include('block/commits') %>
        <%- include('block/face') %>
        <%- include('block/footer') %>
        <%- include('block/script') %>
    </body>
</html>
